/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- #f3b76a
- #f17500
- #0d6e00
- #6d00fb
- #dbff39
- #74c9f1
- #fb4040

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");

body {
  background-image: url("https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Titillium Web;
}
h1 {
  font-family: Titillium Web;
}
.header {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(lightblue, red);
  text-align: center;
  border-radius: 30px;
}
.images {
  height: 400px;
  width: 600px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}
#row1-section2 {
  background: white;
  border-radius: 30px;
  padding: 5px;
  outline-style: double;
}
#row2-section2 {
  background: white;
  border-radius: 30px;
  padding: 5px;
  outline-style: double;
}
